<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="AssignProductDetails.css">
</head>
<body>
  <div>
  <form action="../Controller/ActionAssignProductDetails.php" method="POST" enctype="multipart/form-data">
    <label for="id">Product id</label>
    <input type="text" id="id" name="id" placeholder="Product id..">

    <label for="pn">Product name</label>
    <input type="text" id="pn" name="pn" placeholder="Product name..">

    <label for="pr">Product Price:</label>
    <input type="text" id="pr" name="pr" placeholder="Product Price..">

    <label for="pd">Product description</label>
    <textarea   placeholder="Add description" name="pd" id="pd"></textarea>

     <label for="ct">Category</label>
    <select id="ct" name="ct">
      <option value="Shoe">Shoe</option>
      <option value="Jersy">Jersy</option>
      <option value="Outdoor gaming accessories">Outdoor gaming accessories</option>
      <option value="Indoor gaming accessories">Indoor gaming accessories</option>
      <option value="Online games">Online games</option>
    </select>
     
     <pre><label for="myfile">Upload image</label><span>  <input type="file" id="myFile" name="filename"></span></pre>
     

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>